
body{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.panda-info-background{
    background-color: #feeae9;   
}
.watch{
    width: 100%;
    color: #ef2e8e;
}
.btn-panda{
    background-color: #ec8bbb;
    border: none;
    border-radius: 7px;
    padding: 10px;
}
.buy-btn{
    background-color: deeppink;
    color: white;
    border: none;
    border-radius: 7px;
    padding: 10px;

}
.yellow-btn{
    background-color: orange;
    color: white;
    border: none;
    border-radius: 7px;
    padding: 10px;
}

